h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: rgba(255, 255, 255, 0.623);
  cursor: pointer;
}

.nav-item :hover {
  color: rgba(255, 255, 255, 0.623);
  cursor: pointer;
}

header {
  position: relative;
}

#disabledAnchor {
  color: rgb(253, 253, 253);
}

header nav {
  border-radius: 2px;
}

.navbar-expand-sm .navbar-collapse {
  justify-content: end;
}

.hidden-btn {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
